/* CORES
#0B0E3B
#5258A9 
#D7DDE9
#F2A129
*/
/* Fonte
font-family: "Noto Sans", sans-serif;
font-weight: <weight>;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main {
    flex: 1;
}

body {
  min-height: 100vh;    
  margin: 0;
}

/*header*/

.divHeader {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header {
    position: fixed;       
    top: 2%;              
    left: 50%;                 
    transform: translateX(-50%);
    background-color:#5258A9;
    height: 68px;
    width: 1108px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    z-index: 100;
    transition: height 0.5s ease, padding 0.5s ease, width 0.5s ease;
    
}

.hamburguer {
    width: 35px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 200;
}

.hamburguer span {
    display: block;
    height: 4px;
    width: 100%;
    background: #D7DDE9;
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.3s;
}


.header.shrink {
  height: 42px;
  width: 740px;
}

.header.shrink .logoHeader {
  height: 35px;
}

.header.shrink a {
  font-size: 16px;
}


a {
  text-decoration: none;
  color: #D7DDE9;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  transition: font-size 0.5s ease;
  margin-right: 5px;
}

.navAtivo {
    text-decoration: underline;
}

.header ul {
  display: flex;
  gap: 15px; 
  justify-content: center; 
  padding: 0;
}

li {
  list-style-type: none;
  color: #353E62;
}

.logoHeader {
    height:56px;
    padding-left: 10px;
    transition: font-size 0.3s ease;
}

/*main*/

.coluna {
  display: flex;
  flex-direction: column;
}

.blocoInicial {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    overflow: hidden;
    margin: 0 auto;
    
}

.blocoTexto {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 520px;
    color: #0B0E3B;
    margin-top: 10%;
    margin-right: 30%;
    z-index: 20;
}

h1 {
    width: 520px;
    font-size: 40px;
}

.destaque {
    font-size: 5rem;
    font-weight: 900;
    
}

.subtitulo {
    width: 520px;
    font-size: 1rem;
    font-weight: 500;
}

.btnSaibaMais {
    background-color: #F2A129 ;
    width: 254px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-top: 25px;
}

.blocoImagem {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.grupoPessoasImg {
    z-index: 2;
    height: 378px ;
    border-radius: 15px 100px 15px 100px;
    object-fit: cover;
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-right: 20%;
}   

.formaLilas {
  position: absolute;
  background-color: #D7DDE9;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60%;
  height: 65%;
  border-radius: 0px 0px 0px 200px;
  
}

.conhecaServicos {
  background-color: #F2A129;
  width: 40%;
  height: 87px;
  color: #0B0E3B;
  font-family: "Noto Sans", sans-serif; 
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  align-items: center;
  justify-content: end ;
  padding-right: 45px;
  margin-top: 350px;
  margin-bottom: 65px;

}

.servicoEsq{
  position: relative;
  padding: 100px 0px 500px 0px;
}

.imgEsq {
  position: absolute;
  width: 50%;
}
.servicoAlerta{
  position: relative;
  padding: 150px 0px 500px 0px;
}

.tituloServico{
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-left: 20px;
  width: 40%;
}

.texto{
  position: absolute;
  width: 615px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 120px;
  margin-left: 20px;

}


.blog {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-top: 50px;
}

.atencao {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;

}
.atencaoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2A129;
  width: 1249px;
  height: 104px;
  border-radius: 15px;

}

.atencaoP {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 1216px;
  margin: 5px;
}


footer {
    background-color: #5258A9;
    display: flex;
    gap: 20px;
    height: 192px;
    width: 100%;
    margin-top: 100px;
    position: relative;
    bottom: 0;
  
}

.integrantesFooter{
    padding-left: 94px;
    padding-top: 40px;
    font-family: "Noto Sans", sans-serif; 
}

.integrantes {
  color: #D7DDE9;
  font-size: 20px;
  text-decoration: underline;
}

.nomeFooter {
  color: #D7DDE9;
  font-size: 13px;
}

.projetoFooter {
    padding-left: 94px;
    padding-top: 40px;
    font-family: "Noto Sans", sans-serif;
}

.projeto{
  color: #D7DDE9;
  font-size: 20px;
  text-decoration: underline;
}

.textoFooter {
  padding-top: 5px;
  color: #D7DDE9;
  font-size: 13px;
}

.contatoFooter {
  padding-left: 94px;
  padding-top: 40px;
  font-family: "Noto Sans", sans-serif;
}

.contato {
  color: #D7DDE9;
  font-size: 20px;
  text-decoration: underline;
}

.textoContato {
  padding-top: 5px;
  color: #D7DDE9;
  font-size: 13px;
}

/*responsividade*/

@media (max-width: 900px) {

body {
  min-height: 100vh;    
  margin: 0;
}
.coluna{
 
}

.blocoInicial {
  display: flex;
  flex-direction: column;
}

.hamburguer {
    display: flex;
  }

.header ul {
  flex-direction: column;
  gap: 32px;
  background: #5258A9;
  position: fixed;
  top: 70px;
  right: 45%;
  width: 10rem;
  height: 15rem;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  border-radius:1rem;
  
}
.header ul.menuAtivo {
  transform: translateX(0);
  }

.header {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  min-width: 0;
  max-width: 30%;
  }
.grupoPessoasImg {
  justify-self: center;
  height: 300px;
}
.conhecaServicos {
  font-size: 2rem;
  width: 90%;
}

.tituloServico {
  
}

}