/* CORES
#0B0E3B
#5258A9 
#D7DDE9
#F2A129
*/
/* Fonte
font-family: "Noto Sans", sans-serif;
font-weight: <weight>;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main {
    flex: 1;
}

body {
  min-height: 100vh;    
  margin: 0;
}

.divHeader {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header {
    background-color:#5258A9;
    height: 68px;
    width: 1108px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 100;
    
}


a {
  text-decoration: none;
  color: #D7DDE9;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.navAtivo {
    text-decoration: underline;
}

ul {
  display: flex;
  gap: 15px; 
  justify-content: center; 
  padding: 0;
}

li {
  list-style-type: none;
  color: #353E62;
}

.logoHeader {
    height:56px;
    padding-left: 10px;
}

.coluna {
  display: flex;
  flex-direction: column;
}

.blocoInicial {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    max-width: 1440px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    overflow: hidden;
    margin: 0 auto;
    
}

.blocoTexto {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 520px;
    color: #0B0E3B;
    margin-top: 10%;
    margin-right: 30%;
    z-index: 20;
}

h1 {
    width: 520px;
    font-size: 40px;
}

.destaque {
    font-size: 60px;
    font-weight: 900;
    
}

.subtitulo {
    width: 520px;
    font-size: 20px;
    font-weight: 500;
}

.btnSaibaMais {
    background-color: #F2A129 ;
    width: 254px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-top: 25px;
}

.blocoImagem {
  
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

.grupoPessoasImg {
    z-index: 2;
    height: 378px ;
    border-radius: 15px 100px 15px 100px;
    object-fit: cover;
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-right: 20%;
}   

.formaLilas {
  position: absolute;
  background-color: #D7DDE9;
  z-index: 1;
  top: 0;
  right: 0;
  width: 65%;
  height: 757px;
  border-radius: 0px 0px 0px 200px;
  
}

.conhecaServicos {
  background-color: #F2A129;
  width: 729px;
  height: 87px;
  color: #0B0E3B;
  font-family: "Noto Sans", sans-serif; 
  font-size: 45px;
  font-weight: 700;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  align-items: center;
  padding-left: 98px;
  margin-top: 300px;
  margin-bottom: 65px;

}




.blog {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
    background-color: #5258A9;
    display: flex;
    gap: 20px;
    height: 192px;
    width: 100%;
    margin-top: 100px;
    position: relative;
    bottom: 0;
  
}

.integrantesFooter{
    padding-left: 94px;
    padding-top: 40px;
    font-family: "Noto Sans", sans-serif; 
}

.integrantes {
  color: #D7DDE9;
  font-size: 20px;
  text-decoration: underline;
}

.nomeFooter {
  color: #D7DDE9;
  font-size: 13px;
}

.projetoFooter {
    padding-left: 94px;
    padding-top: 40px;
    font-family: "Noto Sans", sans-serif;
}

.projeto{
  color: #D7DDE9;
  font-size: 20px;
  text-decoration: underline;
}

.textoFooter {
  padding-top: 5px;
  color: #D7DDE9;
  font-size: 13px;
}

